// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-sidebar: #17141f;
$c-white: #fff;
$c-jamaica1: #318712;
$c-jamaica2: #1946c9;
$c-jamaica3: #6f4eaa;
$c-jamaica4: #45afc7;
$c-border: #989d9e;
$c-notwhite: #c1bfc7;
@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'sidebar';


.section {
  margin: 1rem;
}

.list__link {
  color: $c-jamaica3;
  text-decoration: none;
}

.list__link1 {
  color: $c-sidebar;
}

.game-item__pic {
  max-width: 10rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc(100% / 4 - 2rem);
    flex-grow: 1;
    margin: 1rem;
   }
  }
